---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas reprehenderit porro, sint doloribus fugiat libero maiores exercitationem debitis officia deleniti, voluptatum odio ullam quia ipsam similique? Est vitae maxime perspiciatis!</p>
</Layout>